<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <script type="application/javascript" src="../../static/js/jquery-1.7.2.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <style>
       .layui-input-block{
           width: 250px;
       }
        .layui-form{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="layui-container">
<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">材料选择:</label>
        <div class="layui-input-block">
            <select name="mId" lay-verify="required"  lay-filter="mId" lay-search >
                <option value="-1"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item lot-num-select">
        <div class="layui-row">
        <div class="layui-input-inline">
            <label class="layui-form-label">批号:</label>
            <!--<input type="text" name="title" placeholder="请输入批号" autocomplete="off" class="layui-input">-->
            <div class="layui-input-block">
                <select name="lotNumberList" class="lotNum" lay-verify="required" lay-search>
                    <option value="-1"></option>
                </select>

            </div>
        </div>

        <div class="layui-input-inline" style="margin-left: 135px">
            <label class="layui-form-label">出仓数量:</label>
            <div class="layui-input-block">
                <input type="text" name="num" lay-verify="number|required"
                       placeholder="请输入数量"  class="layui-input num" value="0" style="width:120px">
            </div>
        </div>

        <div class="layui-input-inline" style="width: 90px">
            <label class="layui-form-label"  id="specifications">规格:kg</label>
        </div>

            <div class="layui-input-inline">
                <label class="layui-form-label addLotNumber" style="text-align: left"><i class="layui-icon layui-icon-add-1" style="font-size: 30px;"></i></label>
            </div>
        </div>
</div>

 <!--   <div class="layui-form-item">

        <label class="layui-form-label">出仓数量:</label>
        <div class="layui-input-block">
            <input type="text" name="num" required  lay-verify="required" placeholder="请输入数量"  class="layui-input">

        </div>
    </div>-->

    <div class="layui-form-item">
        <label class="layui-form-label">实际出仓量:</label>
        <div class="layui-input-block">
            <input type="text" name="outNum"  id="outNum" class="layui-input" value="0" readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<script>
    //渲染材料下拉框
    var getNameList = function(){
        layui.use('form',function(){
            var form  = layui.form;
        $.ajax({
            type: "get",
            url: "/material/getNameList",
            async: false, // 同步
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            success: function(data){
                 if(data.code==0){
                     for(var i=0;i<data.list.length;i++){
                         var str =  '<option value="'+data.list[i].id+'">'+data.list[i].name+'</option>';
                         $("select[name='mId']").append(str);
                     }
                     $("select[name='mId'] layui-select-title").val("");
                 }
                form.render("select");
            },
            error:function(e){
                console.log(e);
            }
        });
        });
    };

    //渲染批号下拉框
    var getLotNumberList = function(selectMaterialId){
        layui.use('form',function(){
            var form  = layui.form;
        var selectMaterial = $("select[name='mId'] option:selected").text();
        console.log("材料名："+selectMaterial);
        console.log("材料ID:"+selectMaterialId);
        if(selectMaterial!=undefined && selectMaterial!=null && selectMaterial!='' && selectMaterialId!=-1){
            $("select[name='lotNumberList']").empty();
            $.ajax({
                type: "get",
                url: "/materialIn/getLnList",
                async: false, // 同步
                data:{"materialId":selectMaterialId},
                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                success: function(data){
                    if(data.code==0){
                        for(var i=0;i<data.list.length;i++){
                            var str =  '<option value="'+i+'"> 批号:'+data.list[i].lotNumber+'  库存:'+data.list[i].stock+'/'
                                +data.list[i].specifications+'</option>';
                            console.log(str);
                            $("select[name='lotNumberList']:last").append(str);
                        }
                    }
                    form.render("select");
                },
                error:function(e){
                    console.log(e);
                }
            });
        }else{
            alertMsg("请先选择材料!");
        }
        });
    };

    //添加多一个批号选择
    var addLotNumber = function () {
        $(document).on('click','.addLotNumber',function(){
            layui.use(['form','layer'],function(){
                var form  = layui.form;
                var selectdLn = $(".lot-num-select:last option:selected").val();
                if(selectdLn!=undefined && selectdLn!=null && selectdLn!='' && selectdLn!=-1){
                    var html =  $(".lot-num-select:last").clone();
                    //获取已选择批号,下一个下拉框不选择
                    $(".lot-num-select:last").after(html);
                    //删除已选择的批号
                    $("select[name='lotNumberList']:last option[value='"+selectdLn+"']").remove();
                    caluOutNum();
                    form.render();
                }else{
                    layer.msg("请先选择批号！")
                }
            })
        })
    };

    //计算实际出仓量( 还待编写)
    var caluOutNum = function(){
        var total = 0*1;
        $(".num").each(function () {
            total = total+($(this).val()*1);
        });
        //获取规格
        var specifications = $("#specifications").text();
        //赋值实际数量
        $("#outNum").val(total+"  "+specifications);
    }


    var numEvent = function(){
        layui.use('form',function(){
            var form  = layui.form;
            $(document).on("change",'.num',function(){
            caluOutNum();
        });
        form.render();
    })

    };

    $(function () {
        //渲染材料框
        getNameList();
        //监听加号
        addLotNumber();
        //计算实际值
        numEvent();
    });

    var alertMsg = function(msg){
        layui.use(['layer'], function(){
            var layer = layui.layer;
            layer.msg(msg);
        })
    }

    layui.use('form', function(){
        var form = layui.form;

        form.on('select(mId)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
            //渲染批号框
            getLotNumberList(data.value);
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            //选择的批号
            var lotnumList = [];
            //批号对应出货量
            var outnumList = [];
            $(".lotNum option:selected").each(function(){
                lotnumList.push($(this).val());
            });
            $(".num").each(function () {
                outnumList.push($(this).val());
            });
            alert(lotnumList);
            data.field.push({"lotNumberList":lotNumberList});
            data.field.push({"outnumList":outnumList});
            var specifications = $("#specifications").text().replace("规格：","");
            data.field.push({"specifications":specifications});
            console.log(JSON.stringify(data.field));
            $.ajax({
                type: "get",
                url: "/materialOut/add",
                data:data.field,
                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                success: function(data){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
            });
        });
    });
</script>
</body>
</html>